.container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-36deg) rotateY(50deg);
}

#cube figure {
  margin: 0;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  border: 1px solid black;
  line-height: 50px;
}

#cube .front  { transform: rotateY(   0deg ) translateZ( 25px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 25px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 25px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 25px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 25px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 25px ); }

/*///Showing Faces*/
/*#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }*/
/*#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }*/
/*#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }*/
/*#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }*/
/*#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }*/
/*#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }*/
