.l-region, .r-region{
  width: 640px;
  height: auto;
}

.mainContainer{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.l-region{
  order: 1;
}

.r-region{
  order: 2;
}

.canvasHolder{
  width:100%;
  height:360px;
  margin: 0px 20px;
}

.canvasHolder canvas{
  background-color: #3c3c3c;
  padding: 10px;
  width: 100%;
  height:100;
}

.sliderControl{
  width: 300px;
  margin-top:10px;
  text-align:  right;
}

.sliderControl input{
  margin-left:10px;
  margin-right:-20px;
  width:180px;
}

.mappy{
  display: flex;
  margin: 20px;
}

.piso{
  display: inline-block;
  width: auto;
  margin:10px;
  border: 1px solid;
}

.rowx{
  display: flex;
  margin:4px;
}
.colx{
  display: inline-flex;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  margin: 5px;
  text-align: center;
  justify-content: center;
  /*padding: 2px;*/
}
